* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.jumbotron {
    width: 100%;
    min-height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    .jumbotron-child {
      width: 80%;
      height: 100%;
      margin: auto;
  
      ul {
        display: flex;
        color: #fff;
        list-style-type: none;
        padding: 15px 0;
  
        .brand {
          display: flex;
          justify-content: flex-start;
          margin-top: 6px;
  
          h1 {
            padding: 13px 0 0 30px;
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
          }
        }
  
        .sign-in {
          display: flex;
          justify-content: flex-end;
          width: 30%;
          padding-top: 9px;
  
          h1 {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            padding: 5px 15px 0 0;
          }
  
          a {
            text-decoration: none;
            color: #fff;
          }
  
          img {
            margin: 0 0 0 5px;
            width: 30px;
            height: 30px;
          }
        }
      }
  
      .featured-text {
        padding-top: 3vw;
        width: 25%;
        color: #fff;
  
        h1 {
          font-size: 2.5vw;
          font-weight: 700;
          line-height: 3vw;
          margin-top: 2px;
          letter-spacing: 0em;
          text-align: left;
          color: #fff;
        }
  
        .rating {
          display: flex;
          justify-content: space-between;
          width: 60%;
          margin-top: 2%;

          .imdb{
            width: 100%;
            height: auto;
          }

        }
  
        p {
          padding-top: 15px;
          font-size: 15px;
          font-weight: 500;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          font-family: DM Sans;
        }
      }
  
      .featured-button {
        display: flex;
        justify-content: center;
        border-radius: 6px;
        gap: 8px;
        background: #BE123C;
        margin-top: 15px;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
        width: 180px;
        padding: 10px 10px 10px 15px;
        border: 0;
        outline: none;

        img {
          width: 20px;
          height: 20px;
          margin-left: -15px;
          margin-top: 2px;
        }
      }
    }


  }
  
  .featured-movies {
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 3%;
  
    .directory {
      display: flex;
  
      h2 {
        font-size: 2.5vw;
        font-weight: 700;
        text-align: left;
        margin-top: -5px;
        width: 70%;
      }
  
      .search-link{
        display: flex;
        justify-content: right;
        text-decoration: none;
        font-size: 1.2vw;
        font-weight: 400;
        text-align: right;
        width: 30%;
        color: #be123c;

        p{
            text-align: left;
        }

        .search-icon{
            width: 15px;
            height: 22px;
            margin: 2px 0 0 15px;
            opacity: 1.2;
        }
      }
    }
  }
  
  .products-container {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .root-footer{
    width: 30%;
    margin: auto;
    margin-top: 100px;
    
    a{
        text-decoration: none;
        color: #111827;
        ;
    }

    .socials, .footer-sig{
        display: flex;
    }

    .socials{
        justify-content: space-around;
        margin: auto;
        width: 50%;
        margin-bottom: 20px;
    }

    .footer-sig{
        justify-content: space-between;
        margin-bottom: 20px;
        font-family: DM Sans;
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0px;
        text-align: left;

    }

    p{
        text-align: center;
        color:  #6B7280;
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0px;
        padding-bottom: 20px;
    }
  }
  
@media (max-width: 768px) {
    .jumbotron {
        min-height: 400px;
        .jumbotron-child {
          ul {
            display: flex;
            justify-content: space-between;
            color: #fff;
            list-style-type: none;
            padding: 15px 0;
      
            .brand {
                
                img{
                    width: 30%;
                    height: 80%;
                    margin-top: 7px;
                }
              h1 {
                padding: 12px 0 0 8px;
                font-size: 10px;
              }
            }
      
            .sign-in {
      
              h1 {
                font-size: 8px;
                padding: 5px 10px 0 0;
              }
    
      
              img {
                margin: 7px 0 0 3px;
                width: 20px;
                height: 20px;
              }
            }
          }
      
          .featured-text {
            padding-top: 40px;
      
            h1 {
              font-size: 3.5vw;
              line-height: 3.5vw;
            }
      
            .rating {
              display: flex;
              justify-content: space-between;
              width: 60%;
              margin-top: 2%;

              .tomato{
                margin-left: 15px;
               }
            }

      
            p {
              padding-top: 15px;
              font-size: 5px;
              font-weight: 500;
              line-height: 8px;
            
            }
          }
          .featured-button {
            font-size: 12px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #FFFFFF;
            width: 150px;
            padding: 5px 5px 5px 7px;
    
            img {
                width: 20px;
                height: 20px;
                margin-left: -15px;
                margin-top: 2px;
              }
          }
      }
  
  }

  .featured-movies {
  
    .directory {
      h2 {
        font-size: 2.6vw;
      }
  
      .search-link{
        font-size: 1.3vw;

        margin-left: -10px;

        .search-icon{
            width: 6px;
            height: 8px;
            position: absolute;
            top: 409px;
            right: 38px;
            opacity: 1.2;
        }
      }
    }
  }

  .products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }

  .root-footer{
    width: 70%;

    .footer-sig{
        font-size: 11px;
        margin-top: -10px;
    }

    p{
        font-size: 9px;
        padding: 10px;
        margin-top: -25px;
    }
  }
}

// @media only (min-width: 992px) {

// }


// @media only screen and (min-width: 1200px) {

// }
  