.search-box {
    width: 525px;
    line-height: 20px;
    margin: 5px 0 0 260px;
    background: transparent;
    height: Hug (36px);
    padding: 6px 10px 6px 10px;
    border-radius: 8px;
    border: 2px solid #0000ff;
    color: #fff;

}

.search-box :focus{
    border: 2px solid #fff;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffffe3;
    opacity: 0.8;
}

.input-box i{
    position: absolute;
}

.icon{
    padding: 10px;
    color: #fff;
    min-width: 50px;
    text-align: center;
    right: 543px;
    margin: 5px 0 2px 0;
}

@media (max-width: 768px) {
    .input-box{
      
        .search-box {
            width: 100px;
            line-height: 20px;
            margin: 13px 0 0 6px;
            height: 20px;
            padding: 4px 6px;
            border-radius: 10px;
        }
        
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #ffffffe3;
            opacity: 0.8;
            font-size: 5px;
        }

        .icon{
            display: none;
        }
    }

  
  }

// @media only (min-width: 992px) {

// }


// @media only screen and (min-width: 1200px) {

// }
