ul {
    display: flex;
    color: #fff;
    list-style-type: none;
    padding: 15px 0;

    .brand {
      display: flex;
      justify-content: flex-start;

      h1 {
        padding: 13px 0 0 30px;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
      }
    }

    .sign-in {
      display: flex;
      justify-content: flex-end;
      width: 30%;
      padding-top: 9px;

      h1 {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        padding: 5px 15px 0 0;
      }

      a {
        text-decoration: none;
        color: #fff;
      }

      img {
        margin: 0 0 0 5px;
        width: 30px;
        height: 30px;
      }
    }
  }